@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

header {
	border: 1px black solid;
	padding: 20px;
}

nav {
	text-align: center;
	border: 1px;
	padding: 20px;
	text-decoration: none;
}

footer {
	border: 1px black solid;
	padding: 20px;
}

div {
	border: 1px black solid;'
	padding:20px;
}

h1 {
	color:rgb(0,0,0);
	font-family: 'Slabo 27px', serif;
	text-transform:uppercase;
	text-align:center;
}

#slogan {
	font-family: 'Slabo 27px', serif;
	font-family: italic;
	text-align: center;
}

img {
	text-align:center;
	width:25%;
	
}

#hero {
	display: block;
	width: 100%;
	margin: 0;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility:hidde;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}