@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

.wrapper{
	background-color:purple;
	height:800px;
	width:800px;
}
header{
	background-color:#FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav{
	text-align: center;
	background-color:#E8C66A;
	border: 1px black solid;
	padding: 20px;
}
footer{
	background-color:#FF957E;
	border: 1px black solid;
	padding: 20px;
}
div{
	background-color:#FFE2B8;
	border: 1px black solid;'
	padding:20px;
}
h1{
	color:rgb(255,255,255);
	font-family: 'Slabo 27px', serif;
	text-transform:uppercase;
	text-align:center;
}
#slogan{
	font-family: 'Slabo 27px', serif;
	font-family: italic;
	text-align: center;
}
img{
	text-align:center;
	width:25%;
	height:25%;
}

