body{
	background-color:rgb(71,209,255);
}
h1{
	color:rgb(255,255,255);
	font-family:Avenir,san-serif;
	text-transform:uppercase;
	text-align:center;
}
#slogan{
	font-family:Avenir,san-serif;
	font-style:italic;
	text-align:center;
}
img{
	text-align:center;
}
p{
	color:rgb(255,255,255);
	font-family: Avenir,san-serif;
}
ul,li{
	color:rgb(255,255,255);
	font-family: Avenir,san-serif;
}